:root {
    --primary-color-purple: #830BFB;
    --primary-color-blue: #58BCFD;
    --primary-color-pink: #E92297;
    --card-background-color: #333333;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: black;
    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAP8IAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADzwAAA88AAMwAzADMAMwAz//MAM//zAD///wA///8ADz88AA8/PAAD//AAA//wAADAwAAAwMAAAwAwAAMAMABAAAAAYAAAAHAAAAAAAAAA///////////////////////////////////////////////////////////+AB///gAf/4AAAH+AAAB/gAAAf4AAAH+AAAB/gAAAf4AAAH+AAAB/4AAB/+AAAf/4AAf/+AAH//geB/94Hgf/OH+H/xh/h/8P////B////wP///8='), auto;
}

video{
    display: block;
    position: absolute;
    width: 100%;
    z-index: -10;
    height: fit-content;
    right: 0;
    bottom: 0;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.video-hidden {
    display: none;
}
/* cursor change on hover */
a {
    cursor: url(https://cur.cursors-4u.net/mechanics/mec-1/mec8.cur), auto;
}

/* light mode video clear sky */
.videoWrap2 {
    display: none;
}

.light-mode {
    display: block;
    position: absolute;
    width: 100%;
    z-index: -10;
    height: fit-content;
    right: 0;
    bottom: 0;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.li-light-mode {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    background-clip: "";
    -webkit-text-fill-color: transparent;
    transition: color 0.2s ease;
}

input[type='checkbox'] {
    margin-right: .5em;
    outline: none;
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: #c6c6c6;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

input:checked[type='checkbox'] {
    background: var(--primary-color-purple);
}

input[type='checkbox']:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    transition: .5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

input:checked[type='checkbox']:before {
    left: 40px;
}

.list-element {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    -webkit-background-clip: text;
    background-clip: "";
    -webkit-text-fill-color: transparent;
    transition: color 0.2s ease;
}

/*Menu (Aurélien)*/
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.smallLogo {
    display: none;
}

.bigLogo {
    padding-left: 2em;
}

.fa-instagram:before {
    font-size: 2em;
    margin-top: 5px;
}

.fa-twitter:before {
    font-size: 2em;
    margin-top: 5px;
}

.fa-twitch:before {
    font-size: 2em;
    margin-top: 5px;
}

/*Sidebar*/
.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-list li {
    margin: 0 15px;
    line-height: 50px;
}

.nav-list li a {
    -webkit-text-fill-color: transparent;
    transition: color 0.2s ease;
    font-size: 40px;
}

.nav-list2 {
    display: none;
}

.topnav {
    display: none;
}

.input {
    border-radius: 5px;
}

/*button-burger*/
.menu-burger {
    position: absolute;
    top: 25px;
    right: 50px;
    cursor: pointer;
    display: none;
}

.menu-burger>div {
    width: 25px;
    height: 2px;
    margin: 5px 0;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    border-radius: 2px;
    transition: transform 0.3s, opacity 0.2s;
}

/*main*/
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    display: flex;
    flex-direction: row;
    width: 60%;
}

#search {
    border-color: var(--card-background-color);
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    padding-left: 5%;
    border-radius: 30px;
    font-size: 16px;
    color: var(--primary-color-purple);
    margin: 10px auto;
    width: 480px;
    height: 44px;
}

.placeholder {
    padding-left: 10%;
}

::placeholder {
    color: var(--card-background-color);
    opacity: 1;
    /* Firefox */
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    height: 80%;
    /* margin-bottom: 1%; */
    margin: 1%;
}

.card {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 30px;
    width: 30%;
    margin: 1.6%;
}

.card-img {
    border: none;
    border-radius: 10px 10px 0 0;
    background-position: center;
    max-width: 100%;
    height: 200px;
    background-image: url("../images/article1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body {
    background-color: var(--card-background-color);
    /* width: 100%; */
    height: 140px;
}

.card-title {
    color: var(--primary-color-blue);
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    overflow-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
}

.card-read-time {
    color: var(--primary-color-pink);
    padding-left: 5%;
}

.card-read-time:hover {
    color: var(--primary-color-purple);
}

.card1 {
    background-image: url("../images/article1.jpeg");
}

.card2 {
    background-image: url("../images/article2.jpeg");
}

.card3 {
    background-image: url("../images/article3.jpeg");
}

.card4 {
    background-image: url("../images/article4.jpeg");
}

.card5 {
    background-image: url("../images/article5.jpeg");
}

.card6 {
    background-image: url("../images/article6.jpeg");
}

/*ARTICLE (Maxime)*/
.article-title {
    color: var(--primary-color-purple);
    text-align: center;
    text-decoration: underline;
}

.article-container {
    background-color: var(--card-background-color);
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

/* can you use class instead of tags (Maxime)*/
img {
    display: flex;
    margin: auto;
    border-radius: 20px;
    width: 100%;
    height: 50%
}

.text-container {
    width: 80%;
    margin: auto;
    color: var(--primary-color-blue);
}

.reading-time {
    color: var(--primary-color-pink);
}

.article-title-h2 {
    color: var(--primary-color-purple);
    text-decoration: underline;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.link-article {
    text-align: end;
}

a.link:link {
    color: var(--primary-color-purple);
}

a.link:visited {
    color: var(--primary-color-purple);
}

a.link:hover {
    color: var(--primary-color-blue);
}

.author-date {
    color: var(--primary-color-purple);
}

/*CROIX */
.close {
    background: black;
    color: var(--primary-color-purple);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    padding-top: 10px;
    margin: auto;
}

.close:hover {
    background-color: var(--primary-color-pink);
}


/*Footer*/

.footWrap,
.infoNav,
.about,
.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    /* position: fixed;
    left: 0;
    bottom: 0; */
}

.infoNav {
    justify-content: flex-start;
    padding-left: 0px;
}

.footWrap {
    line-height: 30px;
    /*background-color: black;*/
    border-top: solid grey;
    border-width: 1px;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    flex-wrap: wrap;
}

.footer1 {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.socialMedia {
    padding-left: 40px;
}

.about {
    padding-left: 0px;
}

.textFooter {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    -webkit-background-clip: text;
    background-clip: "";
    -webkit-text-fill-color: transparent;
    transition: color 0.2s ease;
    margin-right: 30px;
}

.tiret {
    padding-left: 0%;
    padding-right: 30px;
    color: #E92297;
}

/* end footer */


/*TEAM*/

.team-title{
    color: var(--primary-color-purple);
    text-align: center;
    font-size: 2em;
}

.team-card{
    width: auto;
    height: auto;
    background-color: var(--card-background-color);
    margin: auto;
    text-align: center;
    margin-top: 20px;
    /*padding: 50px;*/
    margin-bottom: 50px;
    border-radius: 20px 20px 0px 0px;
}

img.img-team{
    border-radius: 20px 20px 0px 0px;
}

.container-team-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


/* can you use class instead of tags  (Samson)*/
p {
    color: var(--primary-color-pink);
}

/* can you use class instead of tags (Samson)*/
h4{

    color: var(--primary-color-pink);
    margin: 0%;
    font-size: 1em;
}


h2{
    color: var(--primary-color-blue);
    font-size: 2em;
    margin: 0%;
}

.spacebetween{
    margin: 5%;
}

/*contact*/

.mainContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4%;
}

.divForm{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.contact, .input-form, .textareaForm, .boutonForm {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    transition: color 0.2s ease;
    border-radius: 20px;
}

.contact {
    -webkit-background-clip: text;
    background-clip: "";
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center; 
    font-size: 2em;
}

.input-form{
    display: block;
    margin: 10px auto;
    width: 90%;
    border-color:var(--card-background-color);
    font-size: 1.3em;
}

.textareaForm{
    display: block;
    margin: 10px auto;
    height: 200px;
    width: 90%;
    font-size: 1.3em;
}

.boutonForm {
    display: block;
    margin: 10px auto;
    height: 40px;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5em;
    border: none;
}

.divImg {
    display: flex;
    justify-content: center;
    width: 55%;
    align-items: center;
}

.astronautImg {
    width: 95%;
}

/* PAGE ARTICLE*/
.main-article{
    height: 100%;
    padding-bottom: 10%;
    padding-top: 5%;
}

/*BANNIERE IMAGE*/
.container-img-ban{
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 0%;
}
.imgOfBan{
    display: flex;
    margin: auto;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

/*CONTAINER OF ARTICLE*/

.containerOfArticle{
    width: 80%;
    background-color: black;
    margin: auto;
    margin-bottom: 10%;
    display: flex;
    padding-top: 1%;
}

/*L'ARTICLE EN LUI MEME*/
.article{
    width: 70%; 
    background-color: var(--card-background-color);
    /*margin-left: 1%;*/
    /* border-radius: 0px 0px 0px 20px; */
}
.article-title{
    color:var(--primary-color-purple);
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;

}
.text-container{
    width: 80%;
    margin: auto;
    color: var(--primary-color-blue);    
}  
.article-title-h2{
    color: var(--primary-color-purple);
    text-decoration: underline;
    font-size: 1.5em;
    text-align: center;
}
/*CROIX */
.close-btn {
    background: black;
    color: var(--primary-color-purple);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    padding-top:10px;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .close-btn:hover {
    background-color: var(--primary-color-pink);
  }


/* ELEMENT A COTE DE L'ARTICLE*/

.flex{
    display: flex;
    flex-direction: column;
    width: 30%; 
    height: 100%;
}
.title-h1-aside{
    max-width: 100%;
}
.title-h2-in-aside{
    margin: 0%;
}
.subtitle-aside{
    color: var(--primary-color-pink);
}

.additional-text{
    color: var(--primary-color-purple);
    font-style: italic;
    margin: 0%;
}

.separator-in-box{
    width: 80%;
    text-align: center;
}
/*BOITE SUPERIEURE A DROITE DE L'ARTICLE*/
.aside{
    width: 100%;
    height: 50%;
    /*margin-left: 1%;*/
    margin-right: 1%;
    background-color: var(--card-background-color);
    text-align: center;
}
.profile-pic-article{
    margin: auto;
    width: 200px;
    height: 200px;
    max-width: 100%;
}
/*BOITE INFERIEURE A DROITE DE L'ARTICLE*/
.aside1{
    width: 100%;
    height: 50%;
    margin-right: 1%;
    background-color: var(--card-background-color);
    text-align: center;
    margin-top: 1%;
}
.recommandation-pic-article{
    margin: auto;
    width: 200px;
    height: 180px;
    border-radius: 20px;
    max-width: 100%;
}
/*TOUS LES LIENS DE LA PAGE ARTICLE*/
a.link:link{
    color: var(--primary-color-purple);
}
a.link:visited{
    color: var(--primary-color-purple);
}
a.link:hover {
    color: var(--primary-color-blue);
}

.container-img-article{
    width: auto;

}
.job-name{
    color: var(--primary-color-pink);
    margin: 0%;
    font-size: 1em;
    padding: 5% 0% 5% 0%;
}

.team-name{
    color: var(--primary-color-blue);
    font-size: 2em;
    padding-top: 5%;
}