:root{
    --primary-color-purple: #830BFB;
    --primary-color-blue: #58BCFD;
    --primary-color-pink: #E92297;
    --card-background-color: #333333;
}

body{
    font-family: 'Roboto Mono', monospace;
}
/*Menu*/
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
}
.smallLogo{
    display: none;
}
.bigLogo{
    padding-left: 2em;
}
.fa-instagram:before{
    font-size: 2em;
    margin-top: 5px;
}
.fa-twitter:before {
    font-size: 2em; 
    margin-top: 5px;
}
.fa-twitch:before{
    font-size: 2em;
    margin-top: 5px; 
}
/*Sidebar*/
.nav-list{
    display: flex;
    flex-direction: row;
}
.nav-list li{
    margin:0 15px;
    line-height: 80px;
}
.nav-list li a{
    -webkit-text-fill-color: transparent;
    transition: color 0.2s ease;
    font-size: 40px;  
}
.nav-list2{
    display: none;
}
.topnav{
    display: none;
}
/*button-burger*/
.menu-burger{
    position: absolute;
    top: 25px;
    right: 50px;
    cursor: pointer;
    display: none;
}
.menu-burger > div{
    width: 25px;
    height: 2px;
    margin: 5px 0;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    border-radius: 2px;
    transition: transform 0.3s, opacity 0.2s;
}
/* main */
main{
    background-color: black;
}
.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
    border: none;
    border-radius: 30px;
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  
}

/* .card-body:hover {
    background: var(--primary-color-purple);
    background: linear-gradient(180deg, var(--primary-color-purple) 0%,var(--primary-color-blue) 48%);
    
} */
.card-img {
    border: none;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    /* background-image: url("http://placekitten.com/200/300"); */
    max-width: 100%;
    max-height: 100%;
}
.card-body {
  padding: 10px 20px;
  background-color: var(--card-background-color);
  
}

.card-title {
    color: var(--primary-color-blue);
}

/* .card-title h3:hover{
    color: black;
} */
/* .card-button {
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 30%;
    color: white;
    background: var(--primary-color-purple);
    background: linear-gradient(180deg, var(--primary-color-purple) 0%,var(--primary-color-blue) 48%);
} */

.card-read-time{
    color: var(--primary-color-pink)
}
.card-read-time:hover{
    color: var(--primary-color-purple);
}

@media only screen and (max-width:700px){
    .menu{
        background-color: transparent;
    }
    .bigLogo{
        display: none;
    }
    .smallLogo{
        display: block;
        transform: rotate(90deg);
        margin-left: 30px;
    }
    .topnav{
        display: block;
    }
    .nav-list{
        width: 250px;
        height: calc(100vh - 80px);
        position: fixed;
        top: 80px;
        right: -250px;
        display: flex;
        flex-direction: column;
        background-color: rgba(0,0,0,0.9);
        padding: 30px 0;
        transition: rigth 0.5s ease-in-out 0.1s;
    }
    .nav-list2{
        display: flex;
        flex-direction: column;
        transition: rigth 0.5s ease-in-out 0.1s;
        justify-content: flex-end;
        padding: 5px 60px;
    }
    .nav-list2 li{
        text-align: center;
        margin-top: 5px;
    }
    .nav-list2 li a{
        font-size: 20px;
    }
    .nav-list-active{
        left: 0;
        height: 100vh;
        position: absolute;
    }
    .nav-list li{
        text-align: center;
        margin-top: 5px;
    }
    #firstListElements a{
        font-size: 30px;
    }
    #firstListElements a:hover{
        color: black;
    }
    .menu-line{
        width: 50%;
        height: 2px;
        background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%);
        margin: auto;
        border-radius: 2px;
    }
    .menu-burger{
        display: block;
        
    }
    .toggle.line-top{
        outline: none;
        transform: rotateZ(-45deg) translate(-5px, 6px);
    }
    .toggle.line-middle{
        outline: none;
        opacity: 0;
    }
    .toggle.line-bottom{
        outline: none;
        transform: rotateZ(45deg) translate(-5px, -6px);
    }
    .smallLogo-active{
        transform: rotate(180deg);
    }
    .team-card{
        width: 500px;
        height: 400px;
        background-color: var(--card-background-color);
        text-align: center;
        margin: 20px;
        margin-top: 20px;
        padding: 50px;
        margin-bottom: 50px;
        border-radius: 20px;
    }
    .container-team-card{
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    
    }
}

/*ARTICLE*/


/* .article{
    background-color: var(--primary-color-purple);
} */
.article-title{
    color:var(--primary-color-purple);
    text-align: center;
    text-decoration: underline;
}
.article-container{
    background-color: var(--card-background-color);
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
img{
    display: flex;
    margin: auto;
    border-radius: 20px;
    width: 100%;   
}
.text-container{
    width: 80%;
    margin: auto;
    color: var(--primary-color-blue);    
}  
.reading-time{
    color: var(--primary-color-pink);
}
.article-title-h2{
    color: var(--primary-color-purple);
    text-decoration: underline;
}
section{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.link-article{
    text-align: end;

}
a.link:link{
    color: var(--primary-color-purple);
}
a.link:visited{
    color: var(--primary-color-purple);
}
a.link:hover {
    color: var(--primary-color-blue);
}
.author-date{
    color: var(--primary-color-purple);

}

/*CROIX */
.close {
    background: black;
    color: var(--primary-color-purple);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    padding-top:10px;
    margin: auto;
  }
  .close:hover {
    background-color: var(--primary-color-pink);
  }
/*Footer*/

.footWrap, .infoNav, .about, .socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.footWrap {
    line-height: 30px;
    background-color: black;
    border-top: solid grey;
    border-width: 1px;
}

li {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    -webkit-background-clip: text;
    background-clip:"";
    -webkit-text-fill-color: transparent;
    transition: color 0.2s ease;
    margin-right: 30px ;
    
}
/*TEAM*/
.team-title{
    color: var(--primary-color-purple);
    text-align: center;
    font-size: 2em;
}

.team-card{
    /*width: 500px;
    height: 400px;*/
    background-color: var(--card-background-color);
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.container-team-card{
    display: flex;
    flex-wrap: wrap;

}

h4{
    color: var(--primary-color-pink);
}

h2{
    color: var(--primary-color-blue);
    font-size: 30px;
}

/*contact*/

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

input{
    display: block;
    margin: 10px auto;
    width: 90%;
    margin-bottom: 40px;
    border-color:var(--card-background-color);
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    transition: color 0.2s ease;
    border-radius: 20px;
    font-size: 2em;
}

textarea{
    display: block;
    margin: 10px auto;
    height: 450px;
    width: 90%;
    border-color:var(--card-background-color);
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    transition: color 0.2s ease;
    border-radius: 20px;
    font-size: 2em;
}

.fellows{
    text-align: center;
}

.contact{
    display: flex;
    justify-content: center; 
    padding-bottom: 30px;
    margin-top: 45px;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    -webkit-background-clip: text;
    background-clip:"";
    -webkit-text-fill-color: transparent;
    transition: color 0.2s ease;
    font-size: 3em;
    
} 

.bodyContact {
    background-color: black;
}

.bouton {
    display: block;
    margin: 10px auto;
    height: 40px;
    width: 40%;
    border-color: var(--card-background-color);
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    -webkit-background-clip: text;
    background-clip:"";
    -webkit-text-fill-color: transparent;
    transition: color 0.2s ease;
    border-radius: 20px;
    font-size: 2em;
}


@media screen and (min-width:700px){
    .draw-border {
        box-shadow: inset 0 0 0 4px #58cdd1;
        color: #58afd1;
        -webkit-transition: color 0.25s 0.0833333333s;
        transition: color 0.25s 0.0833333333s;
        position: relative;
      }
      
      .draw-border::before,
      .draw-border::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0rem;
        height: 0;
        bottom: 0;
        right: 0;
      }
      
      .draw-border::before {
        border-bottom-width: 4px;
        border-left-width: 4px;
      }
      
      .draw-border::after {
        border-top-width: 4px;
        border-right-width: 4px;
      }
      
      .draw-border:hover {
        color: #ffe593;
      }
      
      .draw-border:hover::before,
      .draw-border:hover::after {
        border-color: #eb196e;
        -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
        transition: border-color 0s, width 0.25s, height 0.25s;
        width: 100%;
        height: 100%;
      }
      
      .draw-border:hover::before {
        -webkit-transition-delay: 0s, 0s, 0.25s;
        transition-delay: 0s, 0s, 0.25s;
      }
      
      .draw-border:hover::after {
        -webkit-transition-delay: 0s, 0.25s, 0s;
        transition-delay: 0s, 0.25s, 0s;
      }
      
      .btn {
        background: none;
        border: none;
        cursor: pointer;
        /* line-height: 1.5;
        font: 700 1.2rem 'Roboto Mono', sans-serif; */
        /* padding: 0.75em 2em; */
        letter-spacing: 0.05rem;
        margin: 1em;
        width: 13rem;
      }
      
      .btn:focus {
        outline: 2px dotted #55d7dc;
      }
      
}